<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>ThinkCourier - Booking Staff Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <f:metadata>
            <f:event type="preRenderView" listener="#{appService.dashboardInit}"/>
        </f:metadata>
        <h:outputStylesheet library="css" name="styles.css" />
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <link rel="shortcut icon" type="image/png" href="#{resource['images/favicon.png']}"/>
    </h:head>
    <h:body class="bg-light">
        <div class="navbar navbar-dark d-flex justify-content-between shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center"><h:graphicImage library="images" name="logo.png" width="30" height="30" class="mr-2"/><strong> ThinkCourier</strong></a>

            </div>
        </div>
        <div class="container">

            <section class="jumbotron text-center mt-2">
                <h2 class="jumbotron-heading">Booking Staff Dashboard</h2>        
                <div class="panel-subheader">Welcome, <h:outputText value="#{appService.username}" /></div>
                <h:form><h:commandLink action="#{appService.logout}" value="Logout"></h:commandLink></h:form>
            </section>

            <div class=" welcome">
                <nav>
                    <div class="nav nav-tabs pl-3" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#book-package" role="tab">Book A Package</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#report" role="tab">Daily Report</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="book-package" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container">
                            <div class="row pl-3">
                                <h:form>
                                    <h:messages id="message" showSummary="true" showDetail="true" />
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for ="custName">Customer Name:</label>
                                            <h:inputText value="#{pack.customerName}" required="true" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label for ="custAdd">Customer Address:</label>
                                            <h:inputText value="#{pack.address}" required="true" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for ="phone">Phone No:</label>
                                            <h:inputText value="#{pack.phone}" required="true" class="form-control"/>
                                        </div>
                                        <div class="col">
                                            <label for ="packDetail">Package Detail:</label>
                                            <h:inputText value="#{pack.packageDetail}" required="true" class="form-control"/>
                                        </div>

                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for ="packPriority">Package Priority:</label>
                                            <h:selectOneMenu  value="#{pack.priority}" class="form-control">
                                                <f:selectItem itemValue="Low" itemLabel="Low"/>
                                                <f:selectItem itemValue="Medium" itemLabel="Medium" />
                                                <f:selectItem itemValue="High" itemLabel="High" />

                                            </h:selectOneMenu>
                                        </div>
                                        <div class="col">
                                            <label for ="charge">Charge:</label>
                                            <h:inputText value="#{pack.charge}" required="true" class="form-control" title="Charge in BDT"/>
                                        </div>
                                        <div class="col">
                                            <label for ="weight">Weight</label>
                                            <h:inputText value="#{pack.weight}" required="true" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="row mt-4 mb-4">
                                        <div class="col pl-3">
                                            <h:commandButton action="#{pack.bookPackage}" value="Record Package">

                                            </h:commandButton>

                                        </div>
                                    </div>



                                </h:form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade pl-3" id="report" role="tabpanel" aria-labelledby="nav-profile-tab">Under construction!</div>

                </div>

            </div>
            <div class="row">


                <div class="col-sm-3"></div>

                <div class="col-sm-3"></div>


            </div>
        </div>
        <footer class="container-fluid bg-dark mt-2 d-flex justify-content-center">
            <div class="text-muted p-4">2018, All rights reserved, Made with Love by Thinkpool</div>

        </footer>
    </h:body>
    <h:outputScript library="js" name="jquery-3.3.1.slim.min.js" />
    <h:outputScript library="js" name="bootstrap.min.js" />
</html>