/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 4:20:25 PM
    Author     : Student
*/

body {
    background-color: #f8f9fa !important;
}

.welcome{
    background-color: #e9ecef;
    border-radius: .2rem;
    padding: 10px;
    margin-top: 10px;
    
}

.jumbotron{
    margin-bottom: .5rem !important;
    padding: 2rem 2rem !important;
}
.footer{
    max-width: 1140px;
    padding-bottom: 1rem;
    padding-top: 1rem;
        
}
